@{
    ViewBag.Title = "Yagadou";
}

<h2>Nous continuons !</h2>

<p class="hidden"><a href="@Url.Action("Woukikikaka")">Faut-il vraiment cliquer là ?</a></p>

<script type="text/javascript">
    window.location.reload();
</script>