@{
    ViewBag.Title = "Index";
}

<h2>Welcome !</h2>

<p>Bienvenue sur la première page de l'épreuve des enigmes.<br />L'objectif est simple : Atteindre la dernière page ! C'est parti ! </p>

<a href="@Url.Action("Start")">Aller à la vue Start</a>